<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMS_USER" value="username"/>
    <add key="SMS_TOKEN" value="token"/>
    <add key="SMS_WS" value="ws"/>
    <add key="SMS_SERIAL" value="serial"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wssmsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://maxx.mobi/wssms.asmx" binding="basicHttpBinding"
          bindingConfiguration="wssmsSoap" contract="wsSMSBahia.wssmsSoap"
          name="wssmsSoap" />
    </client>
  </system.serviceModel>
</configuration>